<div class="container bg-white contain">
  
  <div class="row justify-content-center text-dark">
    <h1>New Group Expense</h1>
  </div>

<%= render 'form', group_expense: @group_expense %>

<%
=begin%>
 <%= link_to 'Back', group_expenses_path %> 
<%
=end%>
