<table class="table" id='table' >
    <thead class='border-2 border-dark'>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Type</th>
        <th scope="col">To</th>
        <th scope="col">From</th>
        <th scope="col">Category</th>
        
      </tr>
    </thead>

    <tbody data-dashboard-target='transactions' id='transactions'>
      <%= render 'transactions/data', transactions: @transactions %>
    </tbody>
  </table>